.size--xs {
  width: 10.5px;
  height: 10.5px;
}

.size--sm {
  width: 12.25px;
  height: 12.25px;
}

.size--lg {
  width: 18.66px;
  height: 18.66px;
}

.size--1x {
  width: 14px;
  height: 14px;
}

.size--2x {
  width: 28px;
  height: 28px;
}

.size--3x {
  width: 42px;
  height: 42px;
}

.size--4x {
  width: 56px;
  height: 56px;
}

.size--5x {
  width: 70px;
  height: 70px;
}

.size--6x {
  width: 84px;
  height: 84px;
}

.size--7x {
  width: 98px;
  height: 98px;
}

.size--8x {
  width: 112px;
  height: 112px;
}

.size--9x {
  width: 126px;
  height: 126px;
}

.size--10x {
  width: 140px;
  height: 140px;
}
