$yellow: #ef7e5c;
$yellowLight: #f7d5c9;
$yellowLighter: #ffe7e1;
$yellowDark: #d47250;
$black: #212121;
$blackDarkest: #000;
$blackDark: rgba(0, 0, 0, 0.85);
$blackFaded: rgba(0, 0, 0, 0.5);
$blackLight: rgba(0, 0, 0, 0.16);
$gray: #cccccc;
$grayLight: #f0f0f0;
$grayLighter: #f6f6f6;
$grayDarker: #a1a1a1;
$cyan: #00c9ce;
$cyanLighter: #edfeff;
$cyanLight: #11c4ca;
$cyanDark: #00c1d2;
$white: #ffffff;
$whiteDull: #effeff;
$whiteFaded: #f5f5f5;
$blue: #1c97e8;
$blueLighter: #edf6ff;
$blueLight: #cbfcff;
$blueDark: #34589d;
$red: #dd2c00;
$green: #06623b;

$facebookBlue: #3b5998;
$googleRed: #db4437;

//For Table
$cyan1: #fcffff;
$cyan2: #effeff;
$cyan3: #d8fdff;
