@import "../../../../color.scss";
@import "../../../../font.scss";
@import "../../../../sizes.scss";
@import "../../../../mixins.scss";

.background {
  color: $white;
  display: flex;
  height: 250px;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("/assets/images/about_bg.svg");

  @include mobile {
    height: 160px;
    padding: 0 60px;
    text-align: center;
  }
}

.backgroundHeading {
  line-height: 1;
  letter-spacing: 0.56px;
  font-size: responsive-font(28px);

  @include mobile {
    font-size: 19px;
    line-height: 1.05;
    letter-spacing: 0.38px;
    margin-top: -10px;
  }
}

.backgroundParagraph {
  margin-top: -5px;
  line-height: 1.67;
  letter-spacing: 0.36px;
  font-size: responsive-font(18px);

  @include mobile {
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.3px;
  }
}

.contentContainer {
  max-width: 1366px;
  margin: 0 auto 80px;
  padding: 0 140px;
  background: $white;

  @include tablet {
    padding: 0 60px;
  }

  @include mobile {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    padding: 5px 0 0 0;
  }
}

// Our Vision Styles
.ourVisionHeading {
  @include underlineHeading(100px);
  letter-spacing: 0.46px;
  font-size: responsive-font(23px);

  @include mobile {
    font-size: 17px;
    letter-spacing: 0.34px;
  }
}

.ourVisionContent {
  display: flex;
  align-items: center;

  & > div {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      flex: 1;
      padding-left: 10%;

      @include mobile {
        width: 257px;
        padding-left: 0;
        margin-bottom: 36px;
      }
    }
  }

  p {
    line-height: 1.88;
    letter-spacing: 0.32px;
    font-size: responsive-font(16px);
  }

  @include mobile {
    flex-direction: column-reverse;
    padding: 0 20px;

    p {
      font-size: 15px;
      line-height: 1.67;
      letter-spacing: 0.3px;
    }
  }
}

// Our Values Styles

.ourValuesHeading {
  @include underlineHeading(100px);
  letter-spacing: 0.46px;
  font-size: responsive-font(23px);

  @include mobile {
    font-size: 17px;
    letter-spacing: 0.34px;
  }
}

.ourValuesContent {
  display: flex;
  align-items: center;

  & > div {
    &:first-child {
      flex: 1;
      padding-right: 10%;

      @include mobile {
        width: 255px;
        padding-right: 0;
        margin-bottom: 36px;
      }
    }
    &:last-child {
      flex: 1;
    }
  }

  p {
    line-height: 1.88;
    letter-spacing: 0.32px;
    font-size: responsive-font(16px);
  }

  @include mobile {
    flex-direction: column;
    padding: 0 20px;

    p {
      font-size: 15px;
      line-height: 1.67;
      letter-spacing: 0.3px;
    }
  }
}

// Meet Our Team Styles
.meetOurTeam {
  margin-top: 85px;
  position: relative;

  @include mobile {
    margin-top: 20px;
  }
}

.meetOurTeamHeading {
  @include underlineHeading(100px);
  letter-spacing: 0.46px;
  font-size: responsive-font(23px);

  @include mobile {
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 0.34px;
  }
}

.meetOurTeamContents {
  margin: 50px 0 25px;
  padding: 0 0 70px;
  overflow: hidden;
  position: relative;

  @include tablet {
    margin: 50px 60px 25px;
  }

  @include mobile {
    margin: 35px auto 30px;
    padding: 0;
    overflow-x: scroll;
  }
}

.meetOurTeamContent {
  display: flex;
  position: relative;
  padding: 80px 0 40px;

  & > div {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      flex: 1;
    }
  }

  @include mobile {
    flex-direction: column;
    padding: 80px 20px 20px;
    height: 500px;
  }
}

.team {
  color: $black;
  text-align: center;
  position: relative;
  border-radius: 12px;
  width: 350px;
  // height: 200px;
  padding: 80px 30px 30px;
  box-shadow: 0 3px 6px 0 $blackLight;

  &:nth-of-type(1) {
    margin-right: 25px;
  }

  &:nth-of-type(2) {
    margin-left: 25px;
  }

  @include tablet {
    padding: 75px 20px 20px;
  }

  @include mobile {
    margin: 30px 0px 30px 0;
    padding: 65px 20px 20px;
    border: solid 1px $yellow;
    width: 330px;
    &:nth-of-type(1) {
      margin-right: 0;
    }

    &:nth-of-type(2) {
      margin-top: 100px;
      margin-left: 0;
    }
  }
}

.teamProfilePic {
  width: 130px;
  height: 130px;
  left: -20px;
  right: 0;
  top: 7px;
  margin: auto;
  color: $gray;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 3px 6px 0 $blackLight;

  @include tablet {
    top: -1px;
    font-size: 10em !important;
  }

  @include mobile {
    top: 25px;
    font-size: 8em !important;
  }
}

.teamTitle {
  line-height: 1.39;
  color: $yellow;
  letter-spacing: 0.36px;
  font-weight: $font-bold;
  font-size: responsive-font(18px);
  margin-bottom: 0;

  @include mobile {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.3px;
  }
}

.teamSubTitle {
  letter-spacing: 0.3px;
  font-weight: $font-semi-bold;
  font-size: responsive-font(15px);

  @include mobile {
    font-size: 13px;
    letter-spacing: 0.26px;
  }
}

.teamDescription {
  line-height: 2;
  padding-top: 10px;
  letter-spacing: 0.3px;
  font-size: responsive-font(15px);

  @include mobile {
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.28px;
  }
}

.aboutusArrowPosition {
  margin-top: 100px;
}
