@import "../../../../../mixins.scss";
@import "../../../../../sizes.scss";

.headerLogo {
  width: 110px;

  @include mobile {
    width: 100px;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  height: 100px;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  @include mobile {
    padding: 0 60px;
  }
}
