@import "../../../../color.scss";
@import "../../../../font.scss";
@import "../../../../mixins.scss";

.subscribeContainer {
  color: $black;
  display: flex;
  flex-direction: column;
}

.subscribeHeading {
  line-height: 1.19;
  margin-bottom: 22px;
  color: $blackDarkest;
  font-weight: $font-semi-bold;
  font-size: responsive-font(15px);

  @include mobile {
    font-size: 12px;
    line-height: 3.75;
    margin-bottom: -7px;
    letter-spacing: 0.24px;
  }
}

.subscribeThanks {
  line-height: 1.29;
  font-size: responsive-font(14px);

  @include mobile {
    font-size: 8px;
  }
}

.subscribeInputContainer {
  display: flex;
  flex-direction: row;
}

.subscribeInput {
  height: 51px;
  width: 250px;
  padding: 0 20px;
  border: none;
  line-height: 1.29;
  background-color: transparent;
  box-shadow: 0 3px 6px 0 $blackLight;
  font-size: responsive-font(14px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $gray;
  }

  @include tablet {
    width: 150px;
    height: 40px;
  }

  @include mobile {
    width: 164px;
    height: 32px;
    font-size: 12px;
    line-height: 1.25;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.subscribeBtn {
  border: none;
  height: 51px;
  width: 131px;
  color: $white;
  cursor: pointer;
  background: $yellow;
  line-height: 1.18;
  align-self: center;
  font-weight: $font-semi-bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px 6px 0 $blackLight;
  font-size: responsive-font(16px);

  &:hover {
    background: $yellowDark;
  }

  &:focus {
    outline: none;
  }

  @include tablet {
    width: 90px;
    height: 40px;
  }

  @include mobile {
    width: 79px;
    height: 32px;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.24px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.subscribeBtn {
  background: $yellow;
}
