@import "../../../../../font.scss";
@import "../../../../../color.scss";
@import "../../../../../mixins.scss";

.faqsHeading {
  @include underlineHeading(100px);
  margin-top: 100px;
  letter-spacing: 0.46px;
  letter-spacing: 0.46px;
  font-size: responsive-font(23px);

  @include mobile {
    font-size: 17px;
  }
}

.faqsContainer {
  background-color: $grayLight;

  @include mobile {
    background-color: $white;
  }
}

.faqs1366Container {
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  align-items: center;
  padding: 50px 140px;

  @include tablet {
    padding: 50px 60px;
  }

  @include mobile {
    padding: 0 40px;
    flex-direction: column;
  }
}

.faqsColumn {
  flex: 1;
  height: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    padding: 0 10px;
  }
}

.accordionContainer {
  margin-bottom: 20px;

  @include mobile {
    padding-bottom: 20px;
    border-bottom: solid $yellow 1px;
  }
}
